body {
    font-size: 16px;
    font-family: "Trebuchet MS";
    font-smooth: never;
    -webkit-font-smoothing: none;
    margin: 0;
    background-color: #eeeeee;
    color: #222222;
}
#main {
    font-family: "Trebuchet MS";
    font-smooth: auto;
    -webkit-font-smoothing: auto;
}
a {
    color: #8888ff;
}
a:visited {
    color: #5555ff;
}
.title {
    font-size: 40px;
    font-family: "Trebuchet MS";
}
.title a {
    color: inherit;
    text-decoration: inherit;
}
.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    margin: 5px;
}
.center_bar {
    width: 400px;
    max-width: 100%;
}
.menu_bar {
    width: 100px;
    max-width: 100%;
}
#menu ul {
    font-weight: bold;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: end;
    color: #111111;
    background-color: #33dd33;
    outline: solid;
    outline-color: #000000;
    outline-width: 1px;
}
#menu li:hover {
    color: #ffffff;
    background-color: #11aa11;
}
.menu_bar a {
    color: inherit;
    text-decoration: inherit;
}
#me img {
    vertical-align: bottom;
}
.fullwidthbox {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    outline: solid;
    outline-color: #000000;
    outline-width: 1px;
}
.thumbnail {
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: relative;
    outline: solid;
    outline-color: #000000;
    outline-width: 1px;
}
.thumbnail img {
    width: 105%;
    min-height: 105%;
    object-fit: cover;
    object-position: center;
}
@media (max-width: 650px) {
    .flex_container {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .menu_bar {
        width: 400px;
    }
    .menu_bar ul {
        display: inline-block;
        text-align: start;
    }
    .menu_bar li {
        display: inline-block;
    }
    #me {
        display: none;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222222;
        color: #ffffee;
    }
}
