* {
    color: #DDDDDD;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #222222;
}
h1 {
    padding: 10px;
    width: fit-content;
}
.outlined {
    outline-width: 5px;
    outline-style: solid;
    outline-color: black;
    box-shadow: 20px 20px black;
    margin-bottom: 30px;
}
.full-width {
    max-width: 100%;
    height: auto;
}
p.entrylink {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
div.entry {
    display: none;
}